# dependencies
node_modules/

# Next.js build output
.next/
out/
build/
dist/

# IDEs/editors
.vscode/
.idea/
.wix/

# Environment files
.env
.env.*

# Misc
npm-debug.log*
yarn-error.log*
jsconfig.json
